<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новости</title>
</head>
<body>
    <h3>Это автоматическая рассылка. Вы можете отписаться от рассылки, перейтя по ссылке: <a href="http://127.0.0.1:8000/news/cancel_subscription/">Отменить подписку</a></h3>
    <h2>{{ news.title }}</h2>
<!--    <p> Новость создана: {{ news.dateCreation|date:"d-M-Y" }} </p>-->
    <p> {{ news.text|truncatechars:200 }} </p>

</body>
</html>