<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новости</title>
</head>
<body>
    <h2>Подборка новостей и статей за прошедшую неделю в твоих любимых разделах!</h2>

    {% for new in news %}
        <h3>{{ new.title|truncatechars:50 }}<a href="http://127.0.0.1:8000/news/{{new.id}}">Читать</a></h3>
    {% endfor %}


<h3>Это автоматическая рассылка. При регистрации на сайте вы указали адрес
    электронной почты: {{ email }}. Вы можете отписаться от рассылки, перейдя по ссылке: <a href="http://127.0.0.1:8000/news/cancel_subscription/">Отменить подписку</a></h3>

</body>
</html>